.results-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 20px;
  cursor: pointer;
  padding: 0;
}

.results-list li {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 8px;
}

.file-icon {
  margin-left: 8px;
  color: #007bff;
  font-size: 20px;
}



.landing .search {
    position: relative;
    border-radius: 12px;
    background-color: #FFFFFF;
    padding: 20px;
    width: 608px;
    height: 46px;
    direction: rtl;
    transition: background 0.25s;
}

.landing .search:focus-within {
    background: rgb(255 255 255 / 70%);
}

@media (max-width: 991px) {
    .head .search {
        width: 408px;
    }
}

@media (max-width: 767px) {
    .landing .search {
        width: 250px;
    }
}


.head .search .search-icon {
    color: var(--icon-color);
    width: 20px;
    height: 20px;
}

.head .search .search-input {
    top: 50%;
    transform: translateY(-50%);
    font-size: 22px;
    font-family: cairo;
    font-weight: 500;
    line-height: 26px;
    color: var(--icon-color);
    margin-right: 24px;
    outline: none;
    border: none;
    background: transparent;
    width: calc(100% - 115px);
}

.head .search .search-input::placeholder {
    color: var(--icon-color);
}

.search .clear-btn {
    position: absolute;
    left: 40px; 
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--icon-color);
    font-size: 16px;
    z-index: 20;
}